<h1>Pokemon</h1>

<h2>{{ pokemon.name }}</h2>
<img src="{{ pokemon.sprites.front_default }}" height="300px" width="300px">
<h2>Stats</h2>
<ul>
    <li>Height: {{ pokemon.height}}
    </li>
    <li>Weight: {{ pokemon.weight}}
    </li>
</ul>